{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documents par Session et Formateur</h1>

    {% for session in formation %}
        <h2>Formation : {{ session.title }}</h2>
        <p>Lieu : {{ session.location }}</p>
        <p>Date de début : {{ session.startDate|date('d/m/Y') }}</p>
        <p>Date de fin : {{ session.endDate|date('d/m/Y') }}</p>

        <ul>
        {% for formateur in formateursUnique %}
            <li>{{ formateur.firstName }} {{ formateur.lastName }}</li>
        {% else %}
            <li>Aucun formateur associé à cette formation.</li>
        {% endfor %}
        </ul>

        {% endfor %}
{% endblock %}
