{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="flex justify-center">Tableau de bord Administrateur</h1>

    <h2 class="flex justify-center">Formations</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>
        </thead>
        <tbody>

        {% for formation in formations %}
            <tr>
                <td>{{ formation.name }}</td>
                <td>{{ formation.startingDate|date }}</td>
                <td>{{ formation.endingDate|date }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    <div class="mt-32">
    <h2 class="flex justify-center">Formateurs</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom complet</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
  {% for formateurs in formateurs %}
            <tr>
                <td>{{ formateurs.id }}</td>
                <td>{{ formateurs.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <div class="mt-32">
    <h2 class="flex justify-center font-bold">Documents</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Formation</th>
            <th>Formateur</th>
            <th>Date d'upload</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.title }}</td>
                <td>{{ document.session.title }}</td>
                <td>{{ document.user.fullName }}</td>
                <td>{{ document.uploadedAt|date('d/m/Y H:i') }}</td>
                <td><a href="{{ asset('uploads/documents/' ~ document.filePath) }}" target="_blank">Télécharger</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}