{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="flex justify-center">Tableau de bord Administrateur</h1>
    <a href="{{ path('admin_session_add') }}" class="btn btn-success">Ajouter une nouvelle formation</a>


    <h2 class="flex justify-center">Formations</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <td>Lieu </td>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.name }}</td>
                <td>{{ formation.startingDate|date('d/m/Y') }}</td>
                <td>{{ formation.endingDate|date('d/m/Y') }}</td>
                <td> {{ formation.location.City  }}</td>
                <td>
                    <a href="{{ path('admin_session_edit', { id: formation.id }) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('admin_session_delete', { id: formation.id }) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette formation ?');">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    <div class="mt-32">
    <h2 class="flex justify-center">Formateurs</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom complet</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
  {% for formateurs in formateurs %}
            <tr>
                <td>{{ formateurs.firstName }}  {{ formateurs.lastName }}</td>
                <td>{{ formateurs.email }}</td>
                <td>
                    <a href="{{ path('admin_user_edit', {id: formateurs.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('admin_user_delete', { id: formateurs.id }) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>



{% endblock %}