{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des lieux</h1>

    <a href="{{ path('admin_location_add') }}" class="btn btn-success">Ajouter un nouveau lieu</a>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.name }}</td>
                <td>{{ location.city }}</td>
                <td>
                    <a href="{{ path('admin_location_edit', { id: location.id }) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('admin_location_delete', { id: location.id }) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce lieu ?');">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin') }}">Retour au tableau de bord</a>
{% endblock %}