{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upload de Document pour la Formation : {{ formation.name }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.category) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}

    <a href="{{ path('app_user') }}">Retour au tableau de bord</a>
{% endblock %}